@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Model Listing";
}

<div id="bodyContainer" ng-app="BikeStoreApp">
    <div ng-view></div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/app/model-controller.js")
}
